<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org" >
<head>
<style type="text/css">
	label {
	display: inline-block;
	width: 130px;
}
</style>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form name="formulaire" action="/ajout" method="post">
		<select name="civilite">
			<option value="M">Monsieur</option>
			<option value="MME">Madame</option>
		</select><br>
		<label>Nom : </label><input type="text" name="nom"><br>
		<label>Prenom : </label><input type="text" name="prenom"><br>
		<label>dateDeNaissance : </label><input type="text" name="dateDeNaissance"><br>
		<label>Tel : </label><input type="text" name="tel"><br>
		<label>Email : </label><input type="text" name="email"><br>
		<label>CP : </label><input type="text" name="cp"><br>
		<label>Ville : </label><input type="text" name="ville"><br>
		<input type="submit" value="Evoyer">
	</form>
	<ul th:each="carnet : ${carnets}">
		<li th:text="${carnet.id}"></li>
		<li th:text="${carnet.civilite}"></li>
		<li th:text="${carnet.nom}"></li>
		<li th:text="${carnet.prenom}"></li>
		<li th:text="${carnet.dateDeNaissance}"></li>
		<li th:text="${carnet.tel}"></li>
		<li th:text="${carnet.email}"></li>
		<li th:text="${carnet.cp}"></li>
		<li th:text="${carnet.ville}"></li>
	</ul>
</body>
</html>